language: elixir
sudo: false
matrix:
  include:
    - elixir: 1.5
      otp_release: 19.3
    - elixir: 1.5
      otp_release: 20.3
    - elixir: 1.6
      otp_release: 19.3
    - elixir: 1.6
      otp_release: 20.3
    - elixir: 1.6
      otp_release: 21.0
    - elixir: 1.7
      otp_release: 19.3
    - elixir: 1.7
      otp_release: 20.3
    - elixir: 1.7
      otp_release: 21.0
    - elixir: 1.8
      otp_release: 21.0
    - elixir: 1.9
      otp_release: 21.0
notifications:
  recipients:
  - bruce.williams@cargosense.com
addons:
  apt:
    packages:
    - texlive-latex-base