% Courtesy http://www.maths.liv.ac.uk/~rakow/LatexGuide/very_simple.html
\documentclass[12pt]{article}

\begin{document}

\begin{description}
  \item[Name] <%= safe @name %>
\end{description}

\end{document}
